header {
    margin: 50px 0;
}

h1 {
    text-align: center;
}

.color {
    color: slateblue;
}

.grid-container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    margin-bottom: 50px;
}

.grid-item {
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: slateblue;
    border-radius: 8px;
}

.grid-container2 {

    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;

}

.grid1,
.grid2 {
    margin: auto;
    background-color: royalblue;
    width: 100%;
    padding: 20 0px;
    border-radius: 8px;
    height: 240px;
}

input {
    width: 52%;
    margin-bottom: 20px;
    /* margin: auto; */
    padding: 12px;
    border-radius: 8px;
    border: 1px solid slateblue;
}

button {
    font-size: 1.2rem;
    color: rebeccapurple;
    margin: auto;
    margin-bottom: 20px;
    width: 55%;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid slateblue;
    cursor: pointer;
    background: rgb(90, 216, 221);
}

button:hover {
    background: slateblue;
    color: rgb(226, 226, 226);
}

h2 {
    text-align: center;
    color: white;
}
.center{
    text-align: center;
}
.p1{
   display: none;
    margin: 0%;
    padding: 0%;
}